* {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;
color: #57534c;
text-decoration: none;
line-height: 24px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.table {
    border-radius: 5px;
    width: 50%;
    margin: 0px auto;
    float: none;
}

td {
border-bottom: 1px solid #57534c;
border-left: 1px solid #57534c;
padding: 5px
}

.header {
font-size: 20px;
color: #3B5998
}

select {
width: 250px
}

.padding1{
	padding-top: 25px;
	padding-bottom: 15px;
}


#wrapper{
	min-height: 751px;
	width: 70%;
	margin: auto;
	background-color: white;
	box-shadow: 0px 0px 10px 1px rgba(185,209,217,1);
}
#cabeceraB{
	background-color: #BF1C42;
	font-size: 50px;
	color:#FFFFFF;
	padding-top: 30px;
	padding-bottom: 25px;
	width: 97%;
}

#cabeceraC{
	background-color: #670709;
	font-size: 50px;
	color:#FFFFFF;
	padding-top: 30px;
	padding-bottom: 25px;
	width: 97%;
}

#cabecerafont{
	font-size: 50px;
	color: white;
}

.footfont{
	color: #646464;
}
.footfont:hover{
	color: #646464;
}

.footimg{
	padding-left: 10px;
	width: 5%;
}


.colorFondo{
	background-color:
}

.ajuste{
	width: 97%;
}
.ajuste2{
	height: 26.5%;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.a{
  color: #1CA154;
}
